[alan]
username = "alanturing@gmail.com"
password = "thinkingmachines"
mfa_type = "app"
device_token = "00000000-0000-0000-0000-000000000000"
ynab_account = "alan-turing"

[geoffrey]
username = "geoffreyhinton@gmail.com"
password = "backpropagation"
mfa_type = "app"
device_token = "00000000-0000-0000-0000-000000000000"
ynab_account = "geoffrey-hinton"
